# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# QT
.qmlls.ini

Build.bat
CMakeLists.txt
.vscode/
build/
dist/